
:root {
  --titleColor: #f7f9de;
  --textColor: #dfe5a4;
  --backgroundcolor: #548d05;
  --elementColorHighlight: #e7c691;
  --elementColorBackground: #cc6cff;
  --navTextColor: #fcfddf;
  --borderWidth: 0.2vw;
  --borderRadius: 1vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1 rem;
  background-color: var(--backgroundcolor);
}

#nav {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--elementColorHighlight);
  width: 98vw;
  border: var(--borderWidth) solid rgb(0, 0, 0);
  /* padding: 50px; */
  /* margin: 20px; */
}

.navText {
  color: var(--navTextColor);
  background-color: var(--elementColorBackground);
  border-radius: var(--borderRadius);
  border: var(--borderWidth) solid rgb(0, 0, 0);
  padding: 0.5rem;
  margin-right: 1em;
  cursor: pointer;
}

#violet {
  color: var(--navTextColor)
;  background-color: var(--elementColorBackground);
  border-radius: var(--borderRadius);
  border: var(--borderWidth) solid rgb(0, 0, 0);
  padding: 0.5rem;
  margin-right: auto;
  margin-left: 1em;
}

.posts {
  max-width: 45ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;
  border: var(--borderWidth) solid var(--elementColorHighlight);
}

.bottomBar {
  position: relative;
  bottom: 0;
  right: 1vw;
  color: rgb(255, 166, 0);
}

.title {
  color: var(--titleColor);
}

.paragraph {
  color: var(--textColor);
}

.light-theme {
  --primary-color: #007bff;
  --disabled-color: #6c757d;
}
.dark-theme {
  --primary-color: #000000;
  --disabled-color: #4a4a4b;
}
