:root {
  --borderWidth: 0.2vw;
  --borderRadius: 1vw;

  --selectedTitleColor: var(--ThemeOneTitleColor);
  --selectedTextColor: var(--ThemeOneTextColor);
  --selectedBackgroundColor: var(--ThemeOneBackgroundColor);
  --selectedElementColorHighlight: var(--ThemeOneElementColorHighlight);
  --selectedElementColorBackground: var(--ThemeOneElementColorBackground);
  --selectedNavTextColor: var(--ThemeOneNavTextColor);
  --selectedBorderColor: var(--ThemeOneBorderColor);

  /* Theme One */
  --ThemeOneTitleColor: #e6c9df;
  --ThemeOneTextColor: #edd6cb;
  --ThemeOneBackgroundColor: #4b9fa1;
  --ThemeOneElementColorHighlight: #e3ba5a;
  --ThemeOneElementColorBackground: #5ca31e;
  --ThemeOneNavTextColor: #f1f0f0;
  --ThemeOneBorderColor: #c9a793;

  /* Theme Two */
  --ThemeTwoTitleColor: #2f2e52;
  --ThemeTwoTextColor: #11253d;
  --ThemeTwoBackgroundColor: #7DC4C5;
  --ThemeTwoElementColorHighlight: #D7F0EA;
  --ThemeTwoElementColorBackground: #bbebbb;
  --ThemeTwoNavTextColor: #353b3a;
  --ThemeTwoBorderColor: #1b3350;

  /* Theme Three */
  --ThemeThreeTitleColor: #f7f9de;
  --ThemeThreeTextColor: #dfe5a4;
  --ThemeThreeBackgroundColor: #548d05;
  --ThemeThreeElementColorHighlight: #e7c691;
  --ThemeThreeElementColorBackground: #cc6cff;
  --ThemeThreeNavTextColor: #fff3ec;
  --ThemeThreeBorderColor: #c9a793;

  --selectedButtonText: var(--neutralText);
  --selectedButtonBackground: (var--neutralBackground);

  --neutralText: black;
  --neutralBackground: white;

  --blueText: blue;
  --blueBackground: teal;

}




* {
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--selectedBackgroundColor);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--selectedElementColorHighlight);
  width: 100vw;
  border: var(--borderWidth) solid rgb(0, 0, 0);
  margin-top: 0;
  position: sticky;
  padding: .5rem;
}

#themeBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
  background-color: var(--selectedElementColorHighlight);
  width: 100vw;
  border: var(--borderWidth) solid rgb(0, 0, 0);
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
}

.navText {
  color: var(--selectedNavTextColor);
  background-color: var(--selectedElementColorBackground);
  border-radius: var(--borderRadius);
  border: var(--borderWidth) solid rgb(0, 0, 0);
  padding: 0.5rem;
  margin-right: 1em;
  cursor: pointer;
}

#violet {
  color: var(--selectedNavTextColor);
  background-color: var(--selectedElementColorBackground);
  border-radius: var(--borderRadius);
  border: var(--borderWidth) solid rgb(0, 0, 0);
  padding: 0.5rem;
  margin-right: auto;
  margin-left: 1em;
}

.posts {
  max-width: 45ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;
  border: var(--borderWidth) solid var(--selectedBorderColor);
  z-index: auto;
}

.bottomBar {
  position: relative;
  bottom: 0;
  right: 1vw;
  color: rgb(255, 166, 0);
}

.title {
  color: var(--selectedTitleColor);
}

.paragraph {
  color: var(--selectedTextColor);
}

/* #themeOneBtn {
  color: var(--ThemeOneElementColorHighlight);
  background-color: var(--ThemeOneBackgroundColor);
}

#themeTwoBtn {
  color: var(--ThemeTwoElementColorHighlight);
  background-color: var(--ThemeTwoBackgroundColor);
}

#themeThreeBtn {
  color: var(--ThemeThreeElementColorHighlight);
  background-color: var(--ThemeThreeBackgroundColor);
} */

.themeButtons {
  color: var(--selectedButtonText);
  background-color: var(--selectedButtonBackground);
  font-size: 5rem;
  padding: 0.5rem;
  min-width: 5rem;
  border-radius: 0.5rem;
  position: relative;
  outline: unset;
  transition: background-color 0.3s ease, box-shadow 0.7s ease;
}
